.main_container {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px color(black);
    border-style: solid;
    margin: 10px;
    padding: 10px;

}

.main_container h4,
p {
    color: rgb(192, 178, 178);
}

.delete_button {
    display: flex;
    height: 30px;
    width: 100px;
    background-color: rgb(80, 73, 73);
    border-radius: 10px;
    color: white;
    align-items: center;
    padding-left: 28px;

}

button:hover {
    background-color: #cac5c5;
}