body {
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid {
    height: 60px;
    background-color: black;
}

.container-fluid a {
    color: white;
}

.container-fluid .navbar-nav .nav-link {
    color: white;
}

.navbar {
    padding: unset;
}

.navbar-brand {
    padding: 0px 43px;
}

.container-fluid .collapse {
    padding-left: 1000px;
    justify-content: space-around;
}

.banner {
    background-color: #9ec5fe;
    text-align: center;
    padding: 10%;
}

.first-card-group {
    display: inline-flex;
    justify-content: center;
}

.second-card-group {
    display:inline-flex;
    justify-content: center;
}
h5 {
    display: flex;
    font-weight: 600;
}
h3,
h1 {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
h3 {
    padding: 40px;
}

.main-block-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.main-block-tags p {

   background-color: #87cefa;
   color: white;
   border-radius: 5px;
   padding: 3px 6px 3px 6px;
   

}

.project-card {
    height: 288px;
    margin: 40px 10px;
    padding: 10px;
}


.job-card {
    height: 288px;
    width: 480px;
    margin: 30px 10px;
    padding: 20px;
}

.project-card {
    position: relative;
}

.project-card .btn-outline-dark {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

