html,
body {
    background-color: #ffeead;
    margin: 10px;
}

.container>div {
    border-radius: 3px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

/* sprendimas 1 */
/* .container {
    display:grid;
    grid-template: repeat(3,50px) / repeat(4, 1fr);
    grid-gap:5px;
}

.red {
    grid-column:1/3;
}
.blue {
    grid-column:3/5;
}
.green {
    grid-column:1;
}
.purple {
    grid-column:2/5;
}
.yellow {
    grid-column:1/5;
} */

/* sprendimas 2 */
.container {
    display: grid;
    grid-template: repeat(3, 50px) / repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "r r b b"
        "g p p p"
        "y y y y";
}

.red {
    grid-area: r;
}

.blue {
    grid-area: b;
}

.green {
    grid-area: g;
}

.purple {
    grid-area: p;
}

.yellow {
    grid-area: y;
}